

$red:rgb(255, 67, 67);
$active_RED:rgba(255, 67, 67, 1);
$hover_red: rgba(231, 20, 20, 1);
$grey:rgb(108, 114, 121);
$navigation_active:rgba(231, 20, 20, 1);
$hover_grey:rgba(186, 187, 197, 1);
$deepblack:#000000;
$white:#FFFFFF;
$titleblack:rgba(45, 48, 51, 1);




$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;
$_28px: 1.75rem;
$_21px: 1.3125rem;
$_12px: 0.75rem;
$_56px:3.5rem;
$_38px:2.375rem;
$_14px: 0.875rem;
$_48px: 3rem;



$bd:none;



