.banner{
   padding: 113px 0 116px;
}
.card{margin: 0 10px;
   &:nth-child(1){
      margin-bottom: 88px;
   }
   &:nth-child(2){
      margin-bottom: 88px;
   }
   &:nth-child(3){
      margin-bottom: 88px;
   }
   
      @include card;
    &-img{ width: 100px;
    height: 100px;
   margin:0 auto 29px;
         }
  &-title{
     
   font-weight: 900;
     font-size: $_24px;
     line-height: $_28px ;
     text-align: center;
     vertical-align: center;
     color:$titleblack ;
     margin-bottom: 20px;
   }
   &-about{
       
      &-text{
         font-weight: 400;
         font-size: $_18px;
         line-height: $_21px ;
         text-align: center;
         color:$grey ;
      }

   }
}
  